.about-me-container {
  height: 100vh;
  padding-top: 130px;
  background: #f7fff7ff;
}

.about-me-content {
  display: flex;
  padding-left: 80px;
  align-items: center;
}

.professional-img {
  border-radius: 50%;
  width: 300px;
  height: 330px;
}

.about-me-bottom {
  height: 200px;
  background: #f7fff7ff;
  clip-path: polygon(0 0, 100% 0%, 100% 54%, 0 78%);
}

/*================= Skills Component ==================*/
.skills-container {
  font-size: 60pt;
}

.skills-left-container,
.skills-right-container {
  justify-content: center;
  align-items: center;
}

/*================= Skills Component ==================*/

/*=================== Media Queries ===================*/

@media (max-width: 575.98px) {
  .professional-img {
    width: 40%;
    height: 25%;
  }

  .skills-container {
    font-size: 30pt;
  }
}

/*=================== Media Queries ===================*/
