@import "../scss/variables.scss";

.about-me-container {
  height: 90vh;
  padding-top: 110px;
  background-color: $mint-cream;
}

.about-me-title {
  color: #555;
  font-size: 30pt;
  padding-left: 60px;
}

.about-me-content {
  display: flex;
  padding-left: 60px;
  align-items: center;
}

.professional-img {
  border-radius: 50%;
  width: 370px;
  height: 400px;
}

.about-me-bottom {
  top: 688px;
  height: 240px;
  background-color: $mint-cream;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  clip-path: polygon(0 50%, 0 0, 100% 0);
}

.img-2,
.img-4,
.img-5 {
  width: 600px;
  height: 450px;
}

.img-3 {
  width: 350px;
  height: 500px;
}

.honeycomb-bottom-wrapper {
  position: relative;
  width: 100%;
}

/*=================== Media Queries ===================*/

@media (max-width: 575.98px) {
  .professional-img {
    width: 40%;
    height: 25%;
  }

  .skills-container {
    font-size: 30pt;
  }
}

/*=================== Media Queries ===================*/
