@import "../scss/variables.scss";

.about-me-container {
  height: 90vh;
  padding-top: 110px;
  background-color: $dark-blue;
}

.about-me-title {
  color: white;
  font-size: 30pt;
  padding-left: 60px;
}

// .about-me-content {
//   display: flex;
//   padding-left: 60px;
//   align-items: center;
// }

.professional-img {
  border-radius: 50%;
  width: 370px;
  height: 400px;
}

.img-2,
.img-4,
.img-5 {
  width: 600px;
  height: 450px;
}

.img-3 {
  width: 350px;
  height: 500px;
}

.honeycomb-bottom-wrapper {
  position: relative;
  width: 100%;
}

.about-me-bottom {
  height: 120vh;
  background-color: $dark-blue;
}

/*=================== Media Queries ===================*/

@media (max-width: 575.98px) {
  .professional-img {
    width: 40%;
    height: 25%;
  }

  .skills-container {
    font-size: 30pt;
  }
}

/*=================== Media Queries ===================*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-me-content {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    align-items: center;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-me-content {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    align-items: center;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .about-me-content {
    display: flex;
    padding-left: 60px;
    align-items: center;
  }
}
