@import "../scss/variables.scss";

.contact-container {
  z-index: 1;
  height: 90vh;
  padding-top: 120px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .contact-title {
    font-size: 30pt;
    color: $light-coral;
  }
  .contact-subtitle {
    font-size: 10pt;
    color: $midnight-green-eagle-green;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.footer-container {
  .navbar {
    padding: 0 0 30px 0;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $lavender-floral;
  }
}

.flex-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  .flex-item {
    font-size: 30pt;
    justify-content: center;
    & a {
      color: #262626;
      text-decoration: none;
    }
    &.gmail {
      font-size: 30pt;
      margin-bottom: 8px;
    }
    &.github {
      margin-top: 4px;
      font-size: 32pt;
    }
    &.linkedin {
      margin-top: 6px;
      font-size: 28pt;
    }
    &.dev {
      margin-bottom: 5px;
      font-size: 30pt;
    }
    .iconify-icon {
      height: 133.34px;
      width: 133px;
    }
    & :hover {
      color: $medium-turquoise;
    }
  }
}

.footer-title {
  padding-top: 5px;
  color: $mint-cream;
}
