@import "../scss/variables.scss";

.contact-form-container {
  .form {
    width: 100%;
  }
  .form-items {
    padding: 40px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    .asterisk-red {
      color: $light-coral;
    }
    input,
    textarea {
      width: 100%;
    }
    input {
      height: 40px;
      & .focus-visible {
        border: 1px solid red;
      }
    }
    h6 {
      padding-bottom: 5px;
    }
    label {
      padding-left: 15px;
      padding-bottom: 20px;
      width: 100%;
      font-size: 14px;
      color: white;
      text-transform: uppercase;
      text-align: left;
    }
    .row-label {
      padding: 0 0 20px 20px;
      width: 50%;
      font-size: 14px;
      color: white;
      text-transform: uppercase;
      text-align: left;
    }
    .clear-btn {
      margin-left: 20px;
      width: 130px;
      height: 50px;
      display: flex;
      font-size: 16pt;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      border: 1px solid $purple;
      background-color: transparent;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        border: 1px solid $purple;
        background-color: $purple;
      }
    }
  }
  .submit-button-container {
    padding: 20px 250px;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    button {
      width: 130px;
      height: 50px;
      display: flex;
      font-size: 16pt;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      border: 1px solid white;
      background-color: transparent;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        color: white;
        border: 1px solid $vivid-sky-blue;
        background-color: $vivid-sky-blue;
      }
    }
  }
}

/*=================== Media Queries ===================*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .contact-form-container {
    width: 90vh;
    display: flex;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contact-form-container {
    width: 90vh;
    display: flex;
  }
}

/*=================== Media Queries ===================*/
