@import "../scss/variables.scss";

.about-btn,
.projects-btn {
  width: 130px;
  height: 50px;
  display: flex;
  font-size: 16pt;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid white;
  background-color: transparent;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    border: 1px solid $vivid-sky-blue;
    background-color: $vivid-sky-blue;
  }
}

.about-btn a,
.projects-btn a {
  color: white;
  text-decoration: none;
  &:hover,
  &:active {
    color: white;
    text-decoration: none;
  }
}

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

.resume-btn {
  color: $turquoise;
  text-decoration: none;
}

.resume-btn:hover,
#resume-btn-container:hover,
#resume-btn-container a:hover {
  color: $oxford-blue;
  text-decoration: none;
}

#resume-btn-container button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.resume {
    color: $oxford-blue;
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      color: $oxford-blue;
      background: $turquoise;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $oxford-blue;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            color: $oxford-blue;
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $oxford-blue;
            border-right: 0.125rem solid $oxford-blue;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $oxford-blue;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $oxford-blue;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text,
    .resume-btn {
      color: $oxford-blue;
      text-decoration: none;
    }
  }
  .circle:hover {
    color: $oxford-blue;
  }
}

@media (max-width: 430px) {
  .about-btn,
  .projects-btn {
    width: 120px;
    height: 40px;
    font-size: 14pt;
  }
}
/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }
*/
