@import "../scss/variables.scss";

.home-section.text-center {
  background-color: $mint-cream;
}

.skewed-bg {
  padding-top: 150px;
  background: $light-coral;
  color: $mint-cream;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
}

.skewed-bg-bottom {
  height: 23vh;
  padding-top: 150px;
  background: $light-coral;
  color: $mint-cream;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  clip-path: polygon(50% 30%, 0 0, 100% 0);
}

.title-center {
  height: 450px;
  justify-content: center;
}

.title {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 110pt;
}

.subtitle-container {
  padding-top: 25px;
  min-height: auto;
}

.subtitle {
  font-size: 40pt;
}

.subtitle-options span {
  font-size: 30pt;
}

.underline-text {
  text-decoration: underline;
}

.dark-green-text {
  color: #1b565f;
}

.turquoise-text {
  color: #4ecdc4ff;
}

.light-text {
  color: $mint-cream;
}

.about-section {
  background-color: $carolina-blue;
  text-align: left;
}

.skills-section {
  margin-top: 445px;
  background-color: $pale-purple-pantone;
}

.projects-section {
  background-color: $medium-champagne;
}

.contact-container {
  position: relative;
  .contact-section {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $medium-champagne;
  }
}

/*=================== Media Queries ===================*/

@media (max-width: 575.98px) {
  .title {
    font-size: 55pt;
  }

  .subtitle {
    font-size: 20pt;
  }

  .subtitle-options span {
    font-size: 14pt;
  }

  .about-section {
    text-align: center;
  }
}

/*=================== Media Queries ===================*/

/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
