@import "../scss/variables.scss";

.navbar.navbar-expand-lg.fixed-top.navbar-shrink {
  background-color: $medium-turquoise;
}

.navbar.navbar-expand-lg.fixed-top {
  background-color: $light-coral;
  transition: all ease-in-out 200ms;
  height: 80px;
}

.navbar-nav .nav-link {
  color: $mint-cream;
  font-weight: 500;
}

.nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background: #ffe66dff;
  position: absolute;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.nav-link:hover::after {
  color: #ffe66dff;
  width: 3.8%;
}

.nav-link.longer:hover::after {
  color: #ffe66dff;
  width: 5.5%;
}

.nav-link:hover {
  color: #ffe66dff;
}

.logo {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
