@import "../scss/variables.scss";

.skills-container {
  height: 145vh;
  background-color: $carolina-blue;
  padding: 0 100px;
  .title {
    padding: 200px 20px 0 0;
    color: $mint-cream;
    font-size: 30pt;
    text-align: right;
  }
}

.skills-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
  .flex-item {
    color: #262626;
    font-size: 100pt;
    padding-top: 50px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    .iconify-icon {
      height: 133.34px;
      width: 133px;
      & svg {
        margin-bottom: 50px;
      }
      & svg path:hover {
        fill: $naples-yellow;
      }
    }
    & :hover {
      color: $naples-yellow;
    }
  }
}

.currently-learning {
  padding-top: 30px;
  color: $mint-cream;
  font-size: 25pt;
}

.skills-container-bottom {
  height: 25vh;
  background-color: $carolina-blue;
  clip-path: polygon(79% 45%, 0 0, 100% 0);
}
