@import "../scss/variables.scss";

.skills-container {
  height: 100vh;
  background-color: $baby-blue;
  padding: 0 100px;
  .title {
    padding: 120px 20px 0 0;
    color: $mint-cream;
    font-size: 30pt;
    text-align: right;
  }
}
.skills-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
  .flex-item {
    padding-top: 80px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    & i {
      color: #262626;
      font-size: 100pt;
    }
  }
  .flex-item i:hover {
    color: $naples-yellow;
  }
}

.skills-container-bottom {
  clip-path: polygon(79% 15%, 0 0, 100% 0);
}
