@import "../scss/variables.scss";

.skills-container {
  height: 160vh;
  background-color: $dark-blue;
  padding: 0 100px;
  .title {
    padding: 200px 20px 0 0;
    color: $sky-blue;
    font-size: 40pt;
    text-align: center;
  }
}

.skills-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;
  .flex-item {
    color: white;
    font-size: 100pt;
    padding-top: 50px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    .iconify-icon {
      height: 133.34px;
      width: 133px;
      & svg {
        margin-bottom: 50px;
      }

      & svg path:hover {
        fill: $turquoise;
      }
    }
    & :hover {
      color: $turquoise;
    }
  }
}

.currently-learning {
  padding-top: 30px;
  color: $sky-blue;
  font-size: 40pt;
  text-align: center;
}

.skills-container-bottom {
  height: 25vh;
  background-color: $dark-blue;
  clip-path: polygon(79% 45%, 0 0, 100% 0);
}
