//   font-family: 'Montserrat', sans-serif;

/* SCSS HEX */
$white: #ffffffff;
$turquoise: #72efddff;
$vivid-sky-blue: #48bfe3;
$sky-blue: #56cfe1ff;
$purple: #7f4bd2ff;
$oxford-blue: #040b33ff;
$dark-blue: #040221ff;

/* SCSS RGB */
// $white: rgba(255, 255, 255, 1);
// $turquoise: rgba(114, 239, 221, 1);
// $sky-blue: rgba(86, 207, 225, 1);
// $purple: rgba(127, 75, 210, 1);
// $oxford-blue: rgba(4, 11, 51, 1);
// $dark-blue: rgba(4, 2, 33, 1);

/* SCSS HEX */
$midnight-green-eagle-green: #1a535cff;
$medium-turquoise: #4ecdc4ff;
$lavender-floral: #b284ebff;
$pale-purple-pantone: #e9dcf9ff;
$mint-cream: #f7fff7ff;
$light-coral: #ff7070ff;
$naples-yellow: #ffe66dff;
$eerie-black: #262626;
$carolina-blue: #359be9;
$medium-champagne: #fff1ad;

/* SCSS RGB */
// $eerie-black: rgba(38, 38, 38, 1);
// $midnight-green-eagle-green: rgba(27, 86, 95, 1);
// $medium-turquoise: rgba(78, 205, 196, 1);
// $mint-cream: rgba(247, 255, 247, 1);
// $lavender-floral: rgba(178, 132, 235, 1);
// $pale-purple-pantone: rgba(233, 220, 249, 1);
// $light-coral: rgba(255, 112, 112, 1);
// $medium-champagne: rgba(255, 241, 173, 1);
// $naples-yellow: rgba(255, 230, 109, 1);
// $carolina-blue: rgba(53, 155, 233, 1);
