// font-family: "Montserrat", sans-serif;

/* SCSS HEX */
$white: #ffffffff;
$turquoise: #72efddff;
$vivid-sky-blue: #48bfe3;
$sky-blue: #56cfe1ff;
$purple: #7f4bd2ff;
$light-coral: #ff7070ff;
$oxford-blue: #040b33ff;
$dark-blue: #040221ff;

/* SCSS RGB */
// $white: rgba(255, 255, 255, 1);
// $turquoise: rgba(114, 239, 221, 1);
// $sky-blue: rgba(86, 207, 225, 1);
// $purple: rgba(127, 75, 210, 1);
// $light-coral: rgba(255, 112, 112, 1);
// $oxford-blue: rgba(4, 11, 51, 1);
// $dark-blue: rgba(4, 2, 33, 1);
