//   font-family: 'Montserrat', sans-serif;

/* SCSS HEX */
$midnight-green-eagle-green: #1a535cff;
$medium-turquoise: #4ecdc4ff;
$lavender-floral: #b284eb;
$mint-cream: #f7fff7ff;
$bittersweet: #ff7070;
$naples-yellow: #ffe66dff;
$gray: #555;
$baby-blue: #3ea0eb;

/* SCSS RGB */
$midnight-green-eagle-green: rgba(26, 83, 92, 1);
$medium-turquoise: rgba(78, 205, 196, 1);
$mint-cream: rgba(247, 255, 247, 1);
$bittersweet: rgba(255, 107, 107, 1);
$naples-yellow: rgba(255, 230, 109, 1);
